@model Contact

<form method="post">
	<div class="border p-3 mt-4 bg-gradient">
		<div class="row pb-2">
			<h3>
				Adding contact
			</h3>
			<hr />
		</div>

		<div>
			<div class="row m-2">
				<label asp-for="Name" class=""></label>
				<input asp-for="Name" type="text" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>

			<div class="row m-2">
				<label asp-for="Birthday" class=""></label>
				<input asp-for="Birthday" class="form-control" type="date"/>
				<span asp-validation-for="Birthday" class="text-danger"></span>
			</div>

			<div class="row m-2">
				<div>
					<input asp-for="Married" class="form-check-inline" type="checkbox" id="flexRadioDefault1">
					<label class="form-check-label" for="flexRadioDefault1">
						Married
					</label>
				</div>
				<span asp-validation-for="Married" class="text-danger"></span>
			</div>

			<div class="row m-2">
				<label asp-for="Phone" class=""></label>
				<input asp-for="Phone" class="form-control" />
				<span asp-validation-for="Phone" class="text-danger"></span>
			</div>

			<div class="row m-2">
				<label asp-for="Salary" class=""></label>
				<input asp-for="Salary" class="form-control" />
				<span asp-validation-for="Salary" class="text-danger"></span>
			</div>

			<div class="row mx-auto">
				<div class="col-6 mx-auto">
					<button type="submit" class="btn btn-primary m-1 mt-2 form-control">Create</button>
				</div>
				<div class="col-6 mx-auto">
					<a asp-controller="Home" asp-action="Index" class="btn btn-secondary m-1 mt-2 form-control"><i class="bi bi-arrow-return-left"></i>Back to Contact List</a>
				</div>
			</div>

		</div>
</form>